#background {
  padding: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0px;
  background: linear-gradient(to right bottom, #050A30 0%, 10%, #000C66 20%, 35%, #0000FF 66%, #7EC8E3 100%);
}

.sectionBox {
  border: 2px solid #050A30 ;
  margin: 5px;
  padding: 10px;
  background: #7EC8E3;
}

#aboutMe {
  border: 2px solid #050A30 ;
  margin: 5px;
  padding: 10px;
  background: #7EC8E3;
  color: #050A30;
}

#iconBox{
  padding: 0px;
}

.icon {
  max-height: 20px;
  max-width: 20px;
  padding: 5px;
  margin: 0px;
}

#GitHub:hover{
  background: rgba(128, 128, 128, .4);
  border-radius: 50%;
}

#Linkedin:hover{
  background: rgba(128, 128, 128, .4);
}

.projectTitle{
  border: 2px solid #050A30 ;
  margin: 5px;
  padding: 10px;
}

.projectTitle a:link{
  color: #050A30;
  text-decoration: none;
}

.projectTitle a:visited{
  color: #050A30;
  text-decoration: none;
}

.projectTitle a:hover{
  color: #0000FF;
  text-decoration: underline;
}

.projectTitle a:focus{
  color: #0000FF;
  text-decoration: underline;
}

.projectTitle a:active{
  color: white;
  background-color: #000C66;
}

.techBox{
  border: 2px solid #000C66;
  border-radius: 30px / 25px;
  margin: 2px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
}